@import '../../exports.scss';

.product-page {
  padding: 30px 0 30px 0;
  background-color: $peach-color;
  flex: 1;
  @include flexCenter;

  @media screen and (max-width: 1018px) {
    flex-direction: column;
  }

  .error {
    font-size: 2rem;
  }

  .image-container {
    img {
      max-width: 80vw;
      max-height: 70vh;
    }
  }

  .product-details {
    margin: 50px;
    max-width: 30vw;
    padding: 30px;

    @media screen and (max-width: 1018px) {
      max-width: 50vw;
      margin: 20px;
    }

    @media screen and (max-width: 810px) {
      max-width: 70vw;
    }

    @media screen and (max-width: 590px) {
      max-width: 90vw;
    }

    h1,
    h2,
    p {
      margin: 40px 0 40px 0;
      font-weight: 300;
      font-size: 1.5rem;
    }

    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .product-cart-functions-container {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;
      margin: 15px 0 15px 0;
      .icon,
      span {
        font-size: 2rem;
        margin-right: 10px;
      }
    }

    button {
      height: 50px;
      width: 415px;
      background-color: $peach-color;
      border: 2px solid white;
      color: white;
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 10px;
      cursor: pointer;

      &:disabled {
        background-color: grey;
        cursor: default;
      }

      @media screen and (max-width: 450px) {
        max-width: 90vw;
      }
    }

    .cart-add-notification {
      @include flexCenter;
      height: 50px;
      max-width: 415px;
      background-color: white;
      color: red;
      border: 2px solid red;
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;
    }
  }
}
